@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
    --nova: "PT Serif";
    --fundo:#ffc95f;
    --header:#f55203;
    --anuncio:#dddddd;
    --pagina:#380202;
    --font:#26440c;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--fundo);
}

a {
    text-decoration: none;
    color: var(--font);
}

header.cabecalho {
    width: 100%;
    height: 10%;
    position: fixed;
    border: 0.1rem solid black;
    background-color: var(--header);
    text-align: center;
    justify-content: center;
    display: flex;
    z-index: 5;
}

header h4{
    position: absolute;
    border: inherit;
    padding: 1rem;
    right: 0.3rem;
    bottom: 0.2rem;
}

header h1 {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

header input {
    width: 30rem;
    height: 2rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    position: relative;
    padding-left: 1rem;
   top: 1.7rem;
   left: 17rem;
}

header button {
    width: 2rem;
    height: 1.7rem;
    border-radius:0.5rem;
    border: none;
    background-color: white;
    position: absolute;
    font-size: 15pt;
    top: 1.9rem;
    right: 10.1rem;
}

section {
 width: 100%;
 height: 100%;
 position: absolute;
 background-color: white transparent;
 backdrop-filter: blur(8px);
 bottom: 0;
}

section#container-store div.controles {
    width: 5rem;
    height: 1.5rem;
    position: absolute;
    bottom: 0.6rem;
    left: 39rem;
    background-color: rgb(255, 255, 255) transparent;
    backdrop-filter: blur(5px);
    cursor: pointer;
    
}

section#container-store div.controles div.next,
section#container-store div.controles div.prev{ 
    width: 1rem;
    color: var(--font);
    height: 1.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    text-align: center;
}

section#container-store div.controles div.next {
    right: 0;
}

section#container-store div.controles div.number{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1rem;
}

section#container-store div.controles div.number div {
    margin-left: 0.5rem;
    font-size: 15pt;
    color: var(--font);
}

.active {
    color: var(--font);
    padding: 0.1rem;
    border: 0.1rem solid rgb(0, 0, 0);
    border-radius: 0.2rem;
    border-top: none;
    border-bottom: none;
}

section#cart-store {
    top: 120%;
}

div.space,
div.cart {
    width: 80%;
    height: 84%;
    border: 0.1rem solid black;
    background-color: white;
    position: absolute;
    z-index: 3;
}

div.space {
    display: flex;
    top: 4rem;
    left: 8rem;
    background-color: var(--pagina);
    flex-wrap: wrap;
}

section h3 {
    position: absolute;
    bottom: 4rem;
    right: 7rem;
}

section button {
     width: 6rem;
     height: 2rem;
     position: absolute;
     bottom: 2rem;
     right: 1rem;
 }

div.space div.anuncio{
    width: 19%;
    height: 47%;
    margin: 0.6rem 0 0 0.5rem;
    background-color: var(--anuncio);
    box-shadow: 0.5rem 0.5rem 0.5rem #000;
}

div.anuncio div.fundo {
    width: 8rem;
    height: 12rem;
    margin-top: 0.1rem;
    margin-left: 0.5rem;
    background-color: white;
    background-size: 8rem 9rem;
    background-position:center;
    background-repeat: no-repeat;
    position: absolute;
    border: 0.3rem solid black;
}

div.anuncio:hover,
div.fundo:hover{
    transform: scale(1.02);
    transition: 0.3s;
}

ul {
    width: 3.8rem;
    height: 12rem;
    position: relative;
    top: 0.3rem;
    left: 8.7rem;
    display: inline-block;
    list-style: none;
}

ul li button {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 2rem;
    border: 0.2rem solid black;
    background-color: white;
    position: relative;
    bottom: 0.5rem;
    left: 0.2rem;
    margin-top: 0.5rem ;
    background-position: center;
    background-size: cover;
}

ul li button:hover {
    border: 0.1rem solid black;
    transform: scale(1.01);
}

div.anuncio div.txt {
    height: 3rem;
    position: relative;
}

div.txt h5#name {
    font-family:var(--nova);
    position: inherit;
    left: 0.2rem;
}

div.txt h4#currency {
    position: inherit;
    left: 0.5rem;
    top: 0.4rem;
}

div.txt h3#price {
    position: inherit;
    left: 2.2rem;
    bottom: 1rem;
}

div.txt button#addtocart {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: 0;
    font-size: 15pt;
    border-radius: 2rem;
    border: 0.15rem solid #000;
    display: flex;
    justify-content: center;
    color: rgb(2, 165, 10);
    transition: all 0.3s ease-in-out;
}

div.txt button#addtocart:hover {
    transform: scale(1.1);
    border: 0.1rem solid #000;

}

section#cart-store h1 {
    position: absolute;
    color: var(--font);
    top: 4.2rem;
    left: 29rem;
}

div.cart {
    width: 40%;
    height: 80%;
    margin-top: 6rem;
    background-color: var(--pagina);
    left: 25.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-row-gap: 0.7rem;
}

div.cart div.produto {
    height: 120%;
    border: 0.1rem solid black;
    background-color: var(--anuncio);
    position: relative;
    margin-top: 0.1rem;
    margin-left: 1%;
}

div.produto h3 {
    position: absolute;
    top: 0.8rem;
    left: 18rem;
}

div.produto h2 {
    position: absolute;
    bottom:0.3rem;
    right: 8rem;
}

div.produto h5 {
    position: absolute;
    top: 1rem;
    left: 5rem;
}

div.produto button {
    width: 2rem;
    position: inherit;
    color: red;
    border-radius: 2rem;
    top: 0.3rem;
    left: 30rem;
}

div.produto img {
    width: 3rem;
    height: 2.5rem;
    position: absolute;
    top: 0.05rem;
    left: 1rem;
}

.remove {
    display: none;
}
.hidden {
    visibility: hidden;
}
